@media screen and (max-width:1594px){
    #header .inner { padding: 0 10%;}
    .works .contents .content .explain button {width: 28%;}
    .works .webdesign .contents .content .explain button {width: 33%;}
    .intro-inner {width: 48vw;}
    #main .inner {padding: 0 10%;}
    .intro-inner {width: 60vw;}
    .detailview-popup .detailview-popup-wrapper .exit {right: 24%;}
    .works .contents .content .explain .btns a {margin: 0;}
    .works .design {height: auto;}
    .works .design .title {align-items: center; flex-direction: column; margin: 0 auto; width: 100%;}
    .works .design .contents-box {margin-top: 4rem; 
        height: auto;
    }
    .works .design .contents-box .image, .works .design .contents-box .graphic {height:calc(76vw * 0.2)}
    .works .design .contents-box .banner {width:calc(76vw * 0.4)}
    .works .clonecoding .geoje .geoje-txt {font-size: 3.3rem !important;}
}
@media screen and (max-width:1200px){
    #header .inner { padding: 0 4%;}
    #header .menu {gap: 0;}
    #header .menu li a {padding: 0}
    #main > .ellipse1 { top: 1%;}
    #main .inner { padding: 0 4%;}
    .intro-inner {width: 64vw;}
    .works .contents .content .explain h2 {font-size: 4rem;}
    .works .contents .gegomall .explain .btns a {margin: 0;}
    .works .design {height: auto;}
    .works .design .title {flex-direction: column; align-items: center; justify-content: center; width: 100%; margin: 0 auto; top: 4%;}
    .works .design .contents-box {margin-top: 8rem; height: auto;}
    .works .contents .content .explain button {width: 36%;}
    .works .clonecoding .geoje .geoje-txt {font-size: 3.3rem !important;}
    .works .design .contents-box .banner1 {order: 1; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .banner2 {order: 2; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .banner3 { order: 3; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .graphic1 { order: 4; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic2 {order: 5; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic3 {order: 6; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic4 {order: 7; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic5 {order: 8; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic6 {order: 9; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic7 {order: 10; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic8 {order: 11; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic9 {order: 12; width: 28vw; height: calc(28vw);}
    .design-popup-img-box .popup-title {gap: 1rem; flex-direction: column; align-items: start;}
    .detailview-popup .detailview-popup-wrapper .exit {right: 16%;}
}
@media screen and (max-width:1080px) and (min-width:721px) {
    html {font-size: 16px;}
    body {font-size: 1rem;}
    #header .inner { padding: 0 4%;}
    #main > .ellipse1 { top: 3%; right: 40%;}
    #main > .ellipse2 { top: 1%; }
    .first-page .txt-1 { margin-left: 3.5rem;}
    .first-page .main-text { line-height: 10rem;}
    .first-page .txt-2 { margin-right: 3rem;}
    #main .inner { padding: 0 4%;}
    .intro-inner {width: 72vw;}
    .introduce .btns a {width: 33%;}
    .works h1 { font-size: 4.5rem; }
    .works .contents .content { gap: 30px;}
    .works .contents .content .image-box {
        width: 55%; 
        height: 28.7rem;
    }
    .works .publishing .media-site .image-click {
        background-size: 125% !important;
        background-position: -3.5rem 2.5rem !important;
    }
    .works .contents .content .explain { padding: 1.2rem 0; gap: 1.2rem; width: 45%;}
    .works .clonecoding .geoje .geoje-txt {
        font-size: 3.8rem !important;
    }
    .works .contents .content .explain button {width: 30%;}
    .works .contents .gegomall .explain .btns a {padding: .8rem .3rem; margin: 0;}
    .works .webdesign .contents .content .explain {gap: 1.5rem !important;}
    .works .webdesign .contents .content .explain button {width: 45%;}
    .works .design .title {top: 6%;}
    .works .design .tag li {padding: .5rem; font-size: .7rem;}
    .works .design .contents-box .left-box > div, .works .design .contents-box .right-box > div {height: 180px;}
    .design-popup-img-box .design-img {height: auto; width: calc(100% - 15rem);}
    #footer .inner { padding: 0 4.7%;}
    #footer .inner h1 {line-height: 8rem;}
    #footer .ellipse1 {width: 30rem; height: 30rem; top: -2rem;}
    #footer .ellipse2 {width: 40rem; height: 40rem; bottom: -15rem;}
    .detailview-popup .detailview-popup-wrapper .detailview-popup-img-box {width: calc(100% - 6rem);}
    .detailview-popup .detailview-popup-wrapper .detailview-popup-img-box .detail-img {width: 100%;}
    .detailview-popup .detailview-popup-wrapper .exit {right: 13%;}
}

@media screen and (max-width:720px) {
    html {font-size: 15px;}
    body {font-size: 1rem;}
    #header {height: 40px;}
    #header .inner {padding: 0 2.5%; align-items: center;}
    #header .menu-hamburger {display: block; order: 1;}
    #header .name { line-height: 40px; order: 2;}
    #header .menu {display: none;}
    #header .header-right {order: 3; display: block;}
    #header .darkBtn {padding: 0.1rem 0.15rem;}
    #main > .ellipse1 {top: 2.5%; width: 62vw; height: calc(62vw);}
    #main > .ellipse2 {top: 1.5%; width: 80vw; height: calc(80vw);}
    #main .inner {padding: 0 3.5%;}
    .first-page .text-box p {margin: 0 auto; text-align: center;}
    .first-page .main-text {line-height: 9rem;}
    /* .intro-inner {width: 96vw; height: 92vh;} */
    .intro-inner {
        /* width: 660px;  */
        min-width: 90vw; 
        height: 78vh;
        /* height: 594px; */
    }
    .introduce .btns a {padding: 6px; border-radius: 12px; width: 30%;}
    .introduce .icon {width: 24% !important;}
    .introduce .introduce-contents {gap: 30px;}
    .introduce .btns a .txt {line-height: 34px;}
    .introduce .introduce-contents .introduce-txt p {padding: 0 0 20px; font-size: 1.3rem;}
    .introduce .skill-box .img-box {width: 4.5rem; height: 4.5rem; border-radius: 1rem;}
    .introduce .skill-box .img-box img {width: 3.5rem; height: 3.5rem;}
    .introduce .tag ul li {font-size: 1rem;}
    .works h1 {text-align: center; font-size: 4rem;}
    .works .contents {margin-top: 3rem;}
    .works .contents .content {flex-direction: column; gap: 20px;}
    .works .contents .content .image-box {
        width: 100%; 
        height: 30rem;
    }
    .works .contents .content .explain {width: 100%; padding: 0;}
    .works .contents .content .explain h2 {text-align: center; width: 80%; margin: 0 auto;}
    .works .contents .content .explain p {text-align: center; width: 100%; line-height: 1.5;}
    .works .contents .content .explain .tag {justify-content: center;}
    .works .contents .content .explain .btns {text-align: center;}
    .works .contents .content .explain button {margin: 0 auto;}
    .works .design .title {flex-direction: column; align-items: center; top: 8%;}
    .works .design .contents-box {gap: 10px; margin-top: 12rem;}
    .works .design .tag {flex-wrap: wrap; justify-content: center; gap: 10px;}
    .works .design .tag li {padding: .4rem 1.4rem;}
    .design-popup-img-box {width: 96%;}
    .design-popup-img-box .design-img {width: calc(100% - 10rem); height: auto;}
    .design-popup-img-box .first-title {font-size: 1.1rem;}
    #footer .inner {padding: 0 2.5%;}
    #footer .inner h1 {line-height: 6rem;}
    #footer .ellipse1 {width: 30rem; height: 30rem;}
    #footer .ellipse2 {width: 42rem; height: 42rem;}
    .detailview-popup .detailview-popup-wrapper .detailview-popup-img-box {width: calc(100% - 6rem);}
    .detailview-popup .detailview-popup-wrapper .detailview-popup-img-box .detail-img {width: 100%;}
    .detailview-popup .detailview-popup-wrapper .exit {right: 10%;}
}

@media screen and (max-width:540px){
    .intro-inner { height: 64vh; }
    .introduce .btns .icon {width: 100% !important;}
    .introduce .btns .resume .icon {background-size: 30.5px 30.5px;}
    .introduce .btns a {width: 30%; gap: 10px; border-radius: 10px; padding: 4px;}
    .introduce .btns a .txt {display: none;}
    .introduce .introduce-contents {gap: 10px; align-items: center; height: 65%;}
    .introduce .introduce-contents .introduce-txt {height: auto;}
    .introduce .introduce-contents .introduce-txt .txts p {font-size: .8rem;}
    .introduce .skill-box {height: 15%;}
    .introduce .skill-box .img-box {width: 3rem; height: 3rem; border-radius: .8rem;}
    .introduce .skill-box .img-box img { width: 2rem; height: 2rem;}
    .introduce .skill-box > div > p {display: none;}
    .introduce .tag ul li {font-size: .7rem;}
    .works h1 {font-size: 3rem;}
    .works .contents .content .explain h2 {font-size: 3rem;}
    .works .contents .content .image-box {height: 20rem;}
    .works .contents .gegomall .explain .btns a {margin: 0;}
    .works .clonecoding .geoje .geoje-txt {font-size: 2.5rem !important; letter-spacing: -.3rem;}
    .works .webdesign .contents .content .explain button {width: 45%; color: #333;}
    .works .design {height: auto;}
    .works .design .contents-box {height: auto; margin-top: 13rem;}
    .works .design .contents-box .image {height: 158px; width: 100%;}
    .works .design .contents-box .banner1 {order: 1; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .banner2 {order: 2; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .banner3 { order: 3; width: 95vw; height: calc(95vw / 2.12);}
    .works .design .contents-box .graphic1 { order: 4; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic2 {order: 5; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic3 {order: 6; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic4 {order: 7; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic5 {order: 8; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic6 {order: 9; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic7 {order: 10; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic8 {order: 11; width: 28vw; height: calc(28vw);}
    .works .design .contents-box .graphic9 {order: 12; width: 28vw; height: calc(28vw);}
    #footer .inner h1 {line-height: 3rem;}
    #footer .ellipse1 {width: 20rem; height: 20rem;}
    #footer .ellipse2 {width: 25rem; height: 25rem; bottom: -6rem;}
    .design-popup-img-box {padding: 11.5% 14%; height: 70%;}
    .design-popup-img-box .popup-title {gap: 1rem; flex-direction: column; align-items: start;}
    .design-popup-img-box .first-title {font-size: 1rem;}
    .detailview-popup .detailview-popup-wrapper .exit {right: 14%; width: 20px; height: 20px;}
}

@media screen and (max-width:360px) {
    html {font-size: 12px;}
    body {font-size: 1rem;}
    #main > .ellipse1 {top: 3.5%; transform: rotate(100deg); width: 80vw; height: calc(80vw);}
    #main > .ellipse2 {top: 2.5%; left: -53%; width: 90vw; height: calc(90vw);}
    .intro-inner {height: 60vh;}
    .introduce .btns { gap: 10px; height: 8%;}
    .introduce .btns a {display: block; width: 12%; height: 100%;}
    .introduce .btns a .txt {display: none;}
    .introduce .btns .instagram1 .icon, .introduce .btns .instagram2 .icon, .introduce .btns .resume .icon { 
        display: block;
        width: 100% !important; height: 100%;
         background-size: 90%;
        }
    .introduce .introduce-contents {gap: 10px;}
    .introduce .introduce-contents .introduce-txt p { padding: 0 0 10px;}
    .introduce .skill-box {flex-wrap: wrap; justify-content: space-between; gap: 5px; height: 12%;}
    .introduce .skill-box > div {width: auto;}
    .introduce .skill-box .img-box {width: 3.2rem; height: 3.2rem;}
    .introduce .skill-box .img-box img {width: 2.5rem; height: 2.5rem;}
    .works .contents .content .explain {gap: 1rem;}
    .works .contents .content .explain h2 {font-size: 3.5rem; padding: 0;}
    .works .contents .content .explain .tag {width: 80%; margin: 0 auto;}
    .works .clonecoding .geoje .geoje-txt {font-size: 3rem !important;}
    .works .design {height:auto;}
    .works .design .title {gap: 1rem;}
    .works .design .tag {flex-wrap: wrap; gap: 10px; justify-content: center; margin-bottom: 10px;}
    .works .design .contents-box {gap: 10px;  margin-top: 8rem;}
    .works .design .contents-box .image {height: 146px;}
    .works .design .contents-box .graphic {width: 104px; height: 104px;}

    .design-popup-img-box {padding: 8.5% 3%; height: 60%;}
    .design-popup-img-box .design-img {width: calc(100% - 2rem);}
    .detailview-popup .detailview-popup-wrapper .exit {right: 18%; width: 16px; height: 16px;}
}